/*

Icon                		Hex Entitiy         CSS Content
======================================================================
Mail                		!                   content: '!';
Mail2               		&#x22;              content: '\22';
Location            		#                   content: '#';
Calender            		$                   content: '$';
Calender2           		%                   content: '%';
Equalizer           		&                   content: '&';
Gears               		&#x27;              content: '\27';
Cog                 		(                   content: '(';
Link                		)                   content: ')';
Flag                		*                   content: '*';
Snowflake           		+                   content: '+';
Snow                		,                   content: ',';
Rain                		-                   content: '-';
Cloudy              		.                   content: '.';
Sunny               		/                   content: '/';
Moon                		0                   content: '0';
Star-empty          		1                   content: '1';
Star-half           		2                   content: '2';
Star                		3                   content: '3';
Star-empty2         		4                   content: '4';
Star-half2          		5                   content: '5';
Star2               		6                   content: '6';
Heart-empty         		7                   content: '7';
Heart               		8                   content: '8';
Thumbs Up           		9                   content: '9';
Thumbs Down         		:                   content: ':';
Thumbs Up2          		;                   content: ';';
Thumbs Down2        		<                   content: '<';
Warning             		=                   content: '=';
Add                 		>                   content: '>';
Remove              		?                   content: '?';
Question            		@                   content: '@';
Info                		A                   content: 'A';
Block               		B                   content: 'B';
Close               		C                   content: 'C';
Plus                		D                   content: 'D';
Tri-up              		E                   content: 'E';
Tri-down            		F                   content: 'F';
Tri-left            		G                   content: 'G';
Tri-right           		H                   content: 'H';
Play                		I                   content: 'I';
Pause               		J                   content: 'J';
Stop                		K                   content: 'K';
Volume              		L                   content: 'L';
Mute                		M                   content: 'M';
Volume Up           		N                   content: 'N';
Volume Down         		O                   content: 'O';
Prev                		P                   content: 'P';
Next                		Q                   content: 'Q';
First               		R                   content: 'R';
Last                		S                   content: 'S';
Loop                		T                   content: 'T';
Loop2               		U                   content: 'U';
Shuffle             		V                   content: 'V';
Up                  		W                   content: 'W';
Down                		X                   content: 'X';
First2              		Y                   content: 'Y';
Left                		Z                   content: 'Z';
Right               		[                   content: '[';
Last2               		\                   content: '\';
Right2              		]                   content: ']';
Left2               		^                   content: '^';
Up2                 		_                   content: '_';
Down2               		`                   content: '`';
Right3              		a                   content: 'a';
Left3               		b                   content: 'b';
Up3                 		c                   content: 'c';
Down3               		d                   content: 'd';
Right4              		e                   content: 'e';
Left4               		f                   content: 'f';
Up4                 		g                   content: 'g';
Down4               		h                   content: 'h';
Checked             		i                   content: 'i';
Uncecked            		j                   content: 'j';
Partially Checked   		k                   content: 'k';
Checked2            		l                   content: 'l';
Uncecked2           		m                   content: 'm';
Partially Checked2  		n                   content: 'n';
Radio               		o                   content: 'o';
Radio2              		p                   content: 'p';
Gplus               		q                   content: 'q';
Gplus2              		r                   content: 'r';
Facebook            		s                   content: 's';
Facebook2           		t                   content: 't';
Twitter             		u                   content: 'u';
Twitter2            		v                   content: 'v';
Twitter3            		w                   content: 'w';
Twitter4            		x                   content: 'x';
Feed                		y                   content: 'y';
Feed2               		z                   content: 'z';
Github              		{                   content: '{';
Apple               		|                   content: '|';
Reddit              		}                   content: '}';
Delicious           		~                   content: '~';
IcoMoon             		                    content: ' ';

*/
